@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

.manrope {
  font-family: 'Manrope', sans-serif;
}

@font-face {
  font-family: "Arisev";
  src: url("/src/assets/fonts/ARISEV.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.arisev {
  font-family: "Arisev", sans-serif;
}

.custom-class {
color: #E8C5A8;
background-color: #051A23;
}
  body {
  overflow-x: hidden;
}


@keyframes blurFadeIn {
  0% {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    filter: blur(5px);
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }
}

.blur-fade-in {
  display: inline-block;
  animation: blurFadeIn 3s ease forwards; /* 1s duration, adjust as needed */
}
