@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

.manrope {
  font-family: 'Manrope', sans-serif;
}

@font-face {
  font-family: "Arisev";
  src: url("/src/assets/fonts/ARISEV.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.arisev {
  font-family: "Arisev", sans-serif;
}

.custom-class {
color: #E8C5A8;

}